@media screen and (max-width:479px) {
	.carousel {
		display:flex;
		width:75%;
		align-items: center;
		justify-content: center;
	}
	.imgLogo {
		width: 25%;
		padding-top: 20px;
	}
	.contImgCart {
		display: flex;
		justify-content:center;
	}
	.imgCart {
		width: 15%;
	}
	.box {
		font-size: 26px;
	}
	.boxAbajo {
		font-size: 18px;
	}
	.titAbajoHead {
		margin-top: 20px;
		.titAbajo {
		font-size:24px;
		margin-bottom: 0px;
		padding-bottom: 0px;
		}
		.titAbajoTexto {
			font-size:15px;
			}
	}
	.comentario {
		font-size: 16px;
	}
	.links {
		font-size: 16px;
		font-weight: lighter;
		padding: 0px;
	}
	.contactos {
		font-size: 16px;
		font-weight: normal;
		line-height: 1.5;
		margin-top: 0px;
	}
	.footerIzq {
		display: flex;
		justify-content: center;
		}
	.footerDer {
		display: flex;
		justify-content: center;
		}
	.copyright {
		font-size: 0px;
	}
	.seguinos {
		font-size: 0px;
		padding-top: 20px;
	}
	.botonRedes {
	padding: 0px 5px;
}
}
@media screen and (min-width:480px) and (max-width:767px) {
	.carousel {
		display:flex;
		width:75%;
		align-items: center;
		justify-content: center;
	}
	.imgLogo {
		width: 20%;
		padding-top: 20px;
	}
	.contImgCart {
		display: flex;
		justify-content:center;
	}
	.imgCart {
		width: 10%;
	}
	.column {
		width: 50%;
	}
	.columnAhumados {
		width: 50%;
	}
	.columnNatural {
		width: 50%;
	}
	.box {
		font-size: 26px;
	}
	.boxAbajo {
		font-size: 18px;
	}
	.titAbajoHead {
		margin-top: 20px;
		.titAbajo {
		font-size:26px;
		}
		.titAbajoTexto {
			font-size:18px;
			}
	}
	.links {
		font-size: 18px;
		font-weight: lighter;
		padding: 10px;
	}
	.contactos {
		font-size: 18px;
		font-weight: normal;
		line-height: 2;
		margin-top: 10px;
	}
	.footerIzq {
		display: flex;
		justify-content: center;
	}
	.footerDer {
		display: flex;
		justify-content: center;
	}
	.copyright {
		font-size: 0px;
	}
}
@media screen and (min-width:768px) {
	.carousel {
		display:flex;
		width:65%;
		align-items: center;
		justify-content: center;
	}
	.contImgCart {
		display: flex;
		justify-content:end;
	}
	.column {
		width: 25%;
	}
	.columnAhumados {
		width: 25%;
	}
	.columnNatural {
		width: 25%;
	}
	.imgLogo {
		width: 60%;
	}
	.imgCart {
		width: 40%;
	}
	.footerIzq {
		display: flex;
		justify-content: start;
		}
	.footerDer {
		display: flex;
		justify-content: end;
		}
}