@media screen and (max-width:479px) {
	.carousel {
		display:flex;
		width:75%;
		align-items: center;
		justify-content: center;
	}
	.imgLogo {
		width: 25%;
		padding-top: 20px;
	}
	.contImgCart {
		display: flex;
		justify-content:center;
	}
	.imgCart {
		width: 25%;
	}
	.footerIzq {
		display: flex;
		justify-content: center;
		}
	.footerDer {
		display: flex;
		justify-content: center;
		}
}
@media screen and (min-width:480px) and (max-width:767px) {
	.carousel {
		display:flex;
		width:75%;
		align-items: center;
		justify-content: center;
	}
	.imgLogo {
		width: 20%;
		padding-top: 20px;
	}
	.contImgCart {
		display: flex;
		justify-content:center;
	}
	.imgCart {
		width: 25%;
	}
	.column {
		width: 50%;
	}
	.footerIzq {
		display: flex;
		justify-content: center;
		}
	.footerDer {
		display: flex;
		justify-content: center;
		}
}
@media screen and (min-width:768px) {
	.carousel {
		display:flex;
		width:65%;
		align-items: center;
		justify-content: center;
	}
	.contImgCart {
		display: flex;
		justify-content:end;
	}
	.column {
		width: 25%;
	}
	.imgLogo {
		width: 60%;
	}
	.imgCart {
		width: 40%;
	}
	.footerIzq {
		display: flex;
		justify-content: start;
		}
	.footerDer {
		display: flex;
		justify-content: end;
		}
}