//IMPORT
@import "bootstrap/bootstrap.scss";
@import "reseteo";
@import "componentes";
@import "animaciones";
@import "responsive";

/*Map*/
/*Declaro el mapa*/
$productos: (
        centolla: black,
        cordero:  blue,
        mejillon: green,
        langostino: orange,
); 

/*En la hoja tienda.html le agrego a cada boton la clase btn--$producto*/

/*Creo el bucle para usar los valores del mapa*/
@each $producto, $color in $productos {
    .btn--#{$producto} {
        background-color: $color;
    }
}










